importFrom(stats, "prcomp")
importFrom(robustbase, "Qn", "scaleTau2", "colMedians")

export(Qrot, rbwheel,
       mvBACON, BACON, # but not ".lmBACON"
       covNNC, cov.nnve,# <- the latter being deprecated
       L1median, optimMethods, nlminbMethods, reclas)

S3method(plot, reclas)
