importFrom("grDevices", adjustcolor)
importFrom("graphics", abline, lines, plot)
importFrom("stats", cov, dist, hatvalues, lm, mad,
           mahalanobis, median, nlm, nlminb, optim, prcomp,
           qchisq, qt, rchisq, rnorm, runif, var)
importFrom("utils", tail)

importFrom("robustbase", Qn, scaleTau2, colMedians)


export(Qrot, rbwheel,
       mvBACON, BACON, # but not ".lmBACON"
       covNNC, cov.nnve,# <- the latter being deprecated
       L1median, optimMethods, nlminbMethods, reclas)

S3method(plot, reclas)
